body {
  background: #05002b;
  color: #e6edf3;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  width: 80%;
  max-width: 700px;
  margin-inline: auto;
}

h1 {
  color: #58a6ff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #238636;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #33b84b;
}

.alert {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: #161b22;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.time {
  font-size: 0.8em;
  color: #8b949e;
}
